.homepage-carousel{
    .slick-slider{
        .slick-list{
            .slick-track{
                .slick-slide{
                    .div-img{
                        width: 100%;
                        background-color: red;
                        .ng-star-inserted{
                           img{
                            width: 100%;
                            display: flex;
                           }
                            
                        }
                    }
                }
            }
        }
    }
  
  
   
 
}
.homepage-content{
    margin-top: 20px;
}