.forgot-password {
  position: relative;
  text-align: center;
  top: 130px;
  border: 1px solid #ecebeb;
  width: 500px;
  left: 423px;
  height: 200px;
  border-radius: 5px;
  padding: 18px;
}
.text {
  font-size: 14px;
  color: #836755;
}
.p-email {
  color: #836755;
  position: relative;
  right: 177px;
  margin-bottom: 0;
  font-size: 18px;
}
.forgot {
  padding-bottom: 10px;
  color: #004392;
  margin-bottom: 0;
}
.enter_email {
  height: 38px;
  border-radius: 4px;
  width: 300px;
}
