.homepage-carousel{
    margin-bottom: 24px;
    .slick-slider{
        .slick-list{
            .slick-track{
                .slick-slide{
                    
                    .div-img{
                        width: 100%;
                        background-color: rgb(255, 255, 255);
                        .ng-star-inserted{
                           img{
                            width: 100%;
                            display: flex;
                            max-height: 440px;
                            object-fit: contain;
                            object-position: center;
                           }
                            
                        }
                    }
                }
            }
        }
    }
    .slick-dots{
        display: none!important;
    }
  
  
   
  
}
.sub-category-row{
    margin-top: 24px;
.sub-category-row-name{
    text-transform: uppercase;
}}
.sub-category-row{
    .sub-category-row-name{
        padding-top: 24px;
            }
    .product-card{
        background:#ffffff;
    }
}
// .sub-category-row:nth-child(odd){
//     // background-color:#ebebeb;;
//     background: linear-gradient(to right, #e6e6e6, #d7d7d7); 
//     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


// }